.video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 600px;
    max-height: 800px;
    width: 1067px;
  }

  ion-row {
    margin-bottom: 20px;
  }

  ion-row{


    ion-button{
        height: 100%;
        .overlay-text{
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          transform: translateY(-50%);
          text-align: center;
          font-weight: bold;
          color:white;

        }
        // div{
        //     padding:7px 5px;
        //     color: white;
        //     bottom: 0px;
        //     position: absolute;
        //     width: 100%;
        //     background: rgba(6, 110, 237, 0.282);
        //     h4{
        //         font-size: 22px;
        //         margin: 0;
        //     }
        // }
    }
  }

  .view-videos{
    transition: none;
    height: 300px;
  }
