<ion-content >
  <ion-header slot="fixed" translucent>
    <ion-toolbar>
      <ion-title>Video Upload</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <!-- <ion-icon color="danger" slot="icon-only" name="close-outline"></ion-icon> -->
          CLOSE
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid style="overflow: hidden !important;">
    <ion-row>
      <ion-col>
        <form [formGroup]="newVideoForm" (ngSubmit)="save()" class="login-form ion-margin-top" style="margin-top: 50px">
          <ion-list lines="none">
            <ion-item>
              <ion-label>Sub Category</ion-label>
              <ion-select formControlName="subCategoryId" class="text-secondary">
                <ion-select-option *ngFor="let sub of categories" [value]="sub.id">
                  {{ sub.title }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <!-- <ion-label>Title</ion-label> -->
              <ion-input formControlName="title" type="text" placeholder="Enter Video Title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea formControlName="description" placeholder="Enter video description" cols="10" rows="3"></ion-textarea>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button mode="ios" expand="block" class="file">
                <ion-icon lazy="true" slot="start" name="images"></ion-icon>
                <ion-label slot="end">Upload Video</ion-label>
                <input type="file" (change)="loadVideoFromDevice($event)" id="file-input"
                  accept="video/*">
              </ion-button>
              
            </div>
            <ion-progress-bar color="primary" [value]="uploadProgress | async"></ion-progress-bar>
          </ion-list>
          <div class="ion-margin-vertical ion-text-right">
            <ion-button type="button" (click)="dismiss()" mode="ios" color="medium">
              Cancel
            </ion-button>
            <ion-button mode="ios" type="submit" [disabled]="newVideoForm.invalid || saving" color="primary">
              Submit
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
