.signup-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
// ion-content{
//   ion-card{
//     ion-card-header{
//       position: absolute;
//       top: 50%;
//       left: 0;
//       width: 100%;
//       transform: translateY(-50%);
//       text-align: center;
//       ion-card-title, ion-card-subtitle{
//         font-weight: bold;
//         color:white;
//       }
//     }
//   }
// }
ion-content{
 ion-card{
    ion-card-header{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      ion-card-title, ion-card-subtitle{
        font-weight: bold;
        color:white;
      }
    }
  }
}
