
.LogoImg{
    height: 100%;
    width: 100%;
}
.logoDiv{
    padding-top: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.textDiv{
    text-align: center;
    color: white;  
}
.image-modal {
    height: 30%;
    position: relative; 
    display: block;  
}
.view-image-modal {
    overflow: hidden;  
}