

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Nutrition</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row *ngIf="isLoading">
      <ion-col >
        <ion-spinner ></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngIf="nutritionCategories?.length > 0">
      <ion-col *ngFor="let item of nutritionCategories" size-lg="4" size-sm="6" size-xs="12">
        <ion-card style="height: 20rem;" >
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{item.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-wrap">
            {{item.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    </ion-row>
  
  </ion-grid>
</ion-content>
